*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

body {
	font-family: sans-serif;
	font-size: 14px;
	min-width: 320px;
	position: relative;
	color: #60606e;
	font-family: "Open Sans", sans-serif;
	overflow-x: hidden;
}

.hidden {
	display: none;
}

.text_left {
	text-align: left;
}

.text_right {
	text-align: right;
}


/* ----- NAVBAR----- */

.navigation {
	 height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}

.navbar-default {
    padding: 25px 0;
    background-color: transparent;
    border: none;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
   background-color: inherit;
}

.navbar-brand {
	font-family: "Montserrat";
	font-size: 18px;
	font-weight: bold;
}

.navbar-default .navbar-nav > li > a {
   color: #777;
   font-size: 16px;
   margin: 0 5px;
   line-height: 15px;
}

.navbar-default .navbar-nav li a:hover:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  content: '';
  display: block;
  width: 4px;
  background-color: #7beec7;
}

/* ------- AGENCY ------- */

.agency {
	margin-bottom: 150px;
	text-align: center;
	width: 100%;
	height: 500px;
	background: url(../img/about_bg.jpg) no-repeat;
	-webkit-background-size: cover;
	        background-size: cover;
	position: relative;
	overflow: hidden;
}

.creative_agency {
	margin-top: 180px;
}

.creative_agency p {
	font-family: "Montserrat";
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

.creative_agency p a {
	position: relative;
	color: #60606e;
	margin-right: 20px; 
}

.creative_agency p a:after {
	position: absolute;
	right: -13px;
	top: -1px;
	content: '/';
}

.creative_agency h1 {
	margin-top: 265px;
	margin-bottom: 30px;
	font-family: "Montserrat";
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
}

/* ------- WHAT WE DO ------ */

.we_do {
	margin-bottom: 150px;
}

.caption_akad {
	position: relative;
	margin-top: 30px;
	margin-bottom: 30px;
	font-family: "Montserrat";
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.caption_akad:after {
	position: absolute;
	left: 0px;
	top: 15px;
	content: '';
	display: block;
	height: 20px;
	width: 70px;
	background-color: #7beec7;
	z-index: -10;
}
.we_do span {
	font-family: "Montserrat";
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

.we_do p {
	margin-top: 30px;
	font-family: "Open Sans";
	font-size: 14px;
	line-height: 30px;
}

/* -------BENEFITS------ */

.benefits {
	max-width: 750px;
	padding: 0 15px;
	margin: 0 auto;
	margin-bottom: 100px;
	text-align: center;
}

.benefits h2 {
	display: inline-block;
	position: relative;
}

.benefits h2:after {
	position: absolute;
	left: 0px;
	top: 15px;
	content: '';
	display: block;
	height: 20px;
	width: 70px;
	background-color: #7beec7;
	z-index: -10;
}

.benefits p {
	line-height: 24px;
}


/* -------BENEFITS ITEM ------ */

.benefits_item {
	margin-bottom: 100px;
}

.item_icon {
	float: left;
	margin-right: 30px;
	width: 40px;
	height: 40px;
	background-color: #7beec7;
	background-image: url(../img/sprites_2.png);

}

.icon_1 {
	background-position: 0 0;
}

.icon_2 {
	background-position: -40px 0;
}

.icon_3 {
	background-position: -80px 0;
}

.icon_4 {
	background-position: -120px 0;
}

.icon_5 {
	background-position: -160px 0;
}

.icon_6 {
	background-position: -200px 0;
}

.cont_item {
	vertical-align: middle;
}


.benefits_item h3 {
	margin-top: 10px;
	margin-bottom: 30px;
	font-family: "Montserrat";
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}

.benefits_item p {
	margin-bottom: 50px;
	line-height: 30px;
}


/* ------- TEAM ITEM --------- */

.img_team {
	width: 263px;
	height: 333px;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
}

.img_discr {
	position: absolute;
	top: 0;
	right: -180px;
	width: 230px;
	height: 333px;
	padding: 50px;
	text-align: center;
	background-color: rgba(200, 200, 200, 0.7);
	-webkit-transition: right ease-out 0.5s;
	-o-transition: right ease-out 0.5s;
	-webkit-transition: right ease-out 0.5s;
	-o-transition: right ease-out 0.5s;
	transition: right ease-out 0.5s;
}

.img_discr:hover {
	top: 0;
	right: 0;
}

.img_discr h3 {
	font-family: "Montserrat";
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}

/* --------- READ MORE -------- */

.read_more {
	margin: 0 0 150px;
	background-color: #efeff0;
	padding: 50px 15px;
}

.read_more span {
	line-height: 48px;
	font-size: 18px;
	font-style: italic;
}

.read_more button {
	width: 155px;
	height: 55px;
	background-color: #7beec7;
	color: #fff;
	border: none;
	font-family: "Montserrat";
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}


/* ------- PROJECTS ------*/ 

.projects {
	margin-bottom: 150px;
}

.project_img {
	margin-bottom: 30px;
	position: relative;
	width: 165px;
	height: 100px;
	background-image: url(../img/sprites_3.png);
}

.project_img:after {
	position: absolute;
	left: 0px;
	bottom: -5px;
	content: '';
	display: block;
	height: 1px;
	width: 165px;
	background-color: #E2E2E2;
}

.project1 {
	background-position: 0 0;
}
.project2{
	background-position: -165px 0;
}

.project3{
	background-position: -330px 0;
}

.project4 {
	background-position: -495px 0;
}

.project5 {
	background-position: -660px 0;
}

.project6 {
	background-position: -825px 0;
}


.slider .slide_item {
	margin-bottom: 80px;
	text-align: center;
}

.slider .slide_item img {
	margin: 10px auto;
}

.slider .caption p {
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 30px;
}

.slider .caption button {
	width: 100px;
	height: 30px;
	background-color: #7beec7;
	color: #fff;
	border: none;
	font-family: "Montserrat";
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

.slick-dots {
	display: block;
	position: absolute;
	bottom: 25px;
	display: block;
	width: 100%;
	padding: 0;
	list-style: none;
	text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 4px;
    margin: 0 10px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 4px;
    padding: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: grey;
}

li.slick-active button {
	width: 30px;
   height: 4px;
   background-color: #7beec7;
}

/* -------- MESAGE ------- */

.mesage {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #7beec7;
}

.mesage h1 {
	margin-bottom: 30px;
	line-height: 48px;
	font-family: "Montserrat";
	font-size: 30px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}

.mesage button {
	margin-bottom: 50px;
	padding: 20px 25px;
	border: none;
	font-family: "Montserrat";
	font-size: 14px;
	color: #7beec7;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #fff;
}

.cont_form {
	padding: 20px 25px;
	background-color: #fff;
}

.cont_form h2 {
	margin-bottom: 20px;
	line-height: 36px;
	font-family: "Montserrat";
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
}

.cont_form p {
	margin-bottom: 30px;
	line-height: 24px;
	font-family: "Montserrat";
	font-size: 16px;
}

.send_email {
	position: relative;
}

.send_email input[type="email"] {
	display: block;
	width: 100%;
	height: 50px;
	padding: 0 50px 0 15px;
	margin-top: 20px;
	border: 1px solid #e7e7e7;
	-webkit-border-radius: 0;
	        border-radius: 0;
	background: #fff;

}

.send_email input[placeholder] {
	color: #777;
	font-family: "Montserrat";
	font-size: 14px;
	font-weight: bold;
}

button.btn-send {
	position: absolute;
	top: 0;
	right: 0px;
	width: 130px;
	height: 100%;
	border: none;
	padding: 0;
	color: #fff;
	background-color: #7beec7;
}

/* ----- FOOTER ------ */

footer {
	padding-top: 50px;
}

.fo_nav {
	margin-bottom: 30px;
	list-style-type: none;	
}

.fo_nav li {
	position: relative;
	display: inline-block;
}

.fo_nav li:after {
	position: absolute;
	right: 6px;
	top: 9px;
	content: '';
	display: block;
	height: 2px;
	width: 3px;
	background-color: #9a9a9a;
}

.fo_nav li:last-child:after {
	display: none;
}

.fo_nav li a {
	margin-right: 20px;
	padding: 5px 5px;
	font-size: 14px;
	color: #9a9a9a;
	text-transform: uppercase;
}

footer span {
	margin-right: 20px;
	padding: 5px 5px;
	font-size: 14px;
	color: #9a9a9a;
	text-transform: uppercase;
}



.fo_social {
	margin-top: 30px;
	margin-bottom: 50px;
	list-style-type: none;	
}

.fo_social li {
	position: relative;
	display: inline-block;
}

.fo_social li a {
	margin-right: 20px;
	padding: 2px 2px;
	font-size: 20px;
	color: #9a9a9a;
}

.so_f a:hover {
	color: #1B7AB5;
}

.so_tw a:hover {
	color: #7dbee7;
}


.so_yt a:hover {
	color: #f94304;
}

.so_li a:hover {
	color: #1B7AB5;
}

.so_p a:hover {
	color: #f90a04;
}

.so_in a:hover {
	color: #f90483;
}









/*--------------------------------*/
/*--------------------------------*/


.what_we_do ul li,
.price_offer ul li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.what_we_do ul,
.price_offer ul {
	margin-left: -40px;
	margin-bottom: 40px;
}

.what_we_do li,
.price_offer li {
	line-height: 30px;
	font-size: 14px;
	color: #60606e;
}

.what_we_do li i,
.price_offer li i {
	margin-right: 10px;
	color: #7beec7;
}



/* ------- SOME ITEM ------*/ 

.some_item {
	margin-bottom: 150px;
	text-align: center;
}

.some_item h4 {
	font-family: "Montserrat";
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}

.some_item p {
	line-height: 30px;
}

.some_item_img {
	position: relative;
	width: 65px;
	height: 65px;
	margin: 0 auto;
	background-image: url(../img/sprites_4.png);
}

.img1 {
	background-position: 0 0;
}

.img2 {
	background-position: -65px 0;
}

.img3 {
	background-position: -130px 0;
}

.img4 {
	background-position: -195px 0;
}

.some_item_img:after {
    position: absolute;
    left: 0px;
    top: 37px;
    content: '';
    display: block;
    height: 20px;
    width: 50px;
    background-color: #7beec7;
    z-index: -10;
}



/*--------PRICE----------*/

.price_offer {
	position: relative;
	width: 95%;
	padding: 30px;
	margin-bottom: 150px;
	border-top: 5px solid #7beec7;
	-webkit-box-shadow: none;
	        box-shadow: none;
	-webkit-transition: -webkit-box-shadow ease-out 0.5s;
	transition: -webkit-box-shadow ease-out 0.5s;
	-o-transition: box-shadow ease-out 0.5s;
	transition: box-shadow ease-out 0.5s;
	transition: box-shadow ease-out 0.5s, -webkit-box-shadow ease-out 0.5s;
}

.price_offer:hover {
	-webkit-box-shadow: 0px 0px 79px -5px #969696;
	        box-shadow: 0px 0px 79px -5px #969696;
}

.price_offer:after {
	position: absolute;
	right: 0;
	top: 0;
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-top: 10px solid #7beec7;
	border-left: 10px solid transparent;
}



.price_offer h3 {
	font-family: "Montserrat";
	font-size: 30px;
	line-height: 48px;
	text-transform: uppercase;
	font-weight: bold;
}

.price_offer p {
	display: inline-block;
	padding: 10px 20px;
	margin-bottom: 50px;
	font-family: "Montserrat";
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #7beec7;
	color: #fff;
}

.price_offer button {
	width: 135px;
	height: 50px;
	font-family: "Montserrat";
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #7beec7;
	color: #fff;
	border: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
	-webkit-transition: -webkit-box-shadow ease-out 0.5s;
	transition: -webkit-box-shadow ease-out 0.5s;
	-o-transition: box-shadow ease-out 0.5s;
	transition: box-shadow ease-out 0.5s;
	transition: box-shadow ease-out 0.5s, -webkit-box-shadow ease-out 0.5s;
}

.price_offer button:hover {
	-webkit-box-shadow: 0px 0px 11px 0px #969696;
	        box-shadow: 0px 0px 11px 0px #969696;
}



/*---------------------------------*/
/*---------------------------------*/

/*-------------BLOG-----------------*/

.blog_news {
	margin-bottom: 100px;
}

.blog_news img {
	margin-bottom: 30px;
}

.blog_news a {
	color: #60606e;
}

.blog_news .date_news {
	padding: 10px 15px;
	margin: 30px 20px 20px 0;
	font-family: "Montserrat";
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #7beec7;
	color: #fff;
}

.blog_news .comments {
	margin-right: 20px;
	font-family: "Montserrat";
	font-size: 14px;
	text-transform: uppercase;
	color: #ccc;
}

.blog_news .comments i {
	margin-right: 8px;
	font-size: 18px;
}

.blog_news .like {
	margin-right: 20px;
	font-family: "Montserrat";
	font-size: 14px;
	text-transform: uppercase;
	color: #ccc;
}

.blog_news .like i {
	margin-right: 8px;
	font-size: 18px;
	color: #ea6a6a;
}

.blog_news h3 {
	display: inline-block;
	font-family: "Montserrat";
	font-size: 18px;
	line-height: 48px;
	text-transform: uppercase;
	font-weight: bold;
}

.blog_news .news_descr {
	font-size: 14px;
	line-height: 24px;
	color: #999;
}

.blog_news .news_cont {
	font-family: "Montserrat";
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: bold;
}

.blog_news .news_cont i {
	margin-left: 5px;
	-webkit-transition: margin-left ease-out 0.5s;
	-o-transition: margin-left ease-out 0.5s;
	transition: margin-left ease-out 0.5s;
}

.blog_news .news_cont:hover {
	text-decoration: none;
	color: #7beec7;
}

.blog_news .news_cont:hover i {
	margin-left: 10px;
	color: #7beec7; 
}

.search {
	position: relative;
	margin-bottom: 50px;
}

.search input[type="text"] {
	display: block;
	width: 100%;
	height: 40px;
	padding: 0 50px 0 15px;
	border: none;
	-webkit-border-radius: 0;
	        border-radius: 0;
	background: #ececec;

}

.search input[placeholder] {
	color: #afafb4;
	font-family: "Montserrat";
	font-size: 14px;
	font-weight: bold;
}

button.btn-search {
	position: absolute;
	top: 0;
	right: 0px;
	width: 40px;
	height: 100%;
	border: none;
	padding: 0;
	color: #afafb4;
	background-color: transparent;
}

.posts > h4 {
	font-family: "Montserrat";
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
}

.tost_chose {
	padding: 10px 5px;
	margin-bottom: 30px;
	font-family: "Montserrat";
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 4px solid #ccc;
	text-align: center;
}

.tost_chose a {
	padding: 10px 10px;
	text-decoration: none;
	color: #60606e;
}

.tost_chose:hover{
	border-bottom: 4px solid #7beec7;
}

.tost_chose a:hover  {
	color: #404048;
}

.post_item {
	margin-bottom: 8px;
}

.post_item img {
	float: left;
	margin-right: 15px;
}

.post_item a {
	color: #60606e;
}

.post_item h4 {
	margin-bottom: 0;
	font-family: "Montserrat";
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: bold;
}

.post_item span {
	font-size: 12px;
	color: #9a9a9a;
}

.categories {
	margin-top: 50px;
	margin-bottom: 50px;
}

.categories h4 {
	font-family: "Montserrat";
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
}

.categories a {
	position: relative;
	display: block;
	padding: 15px;
	color: #60606e;
	border-bottom: 1px solid #ccc;
}
.categories a span {
	position: absolute;
	right: 15px;
}

.categories a:hover {
	text-decoration: none;
	border-bottom: 1px solid #7beec7;
}

.tags h4{
	margin-bottom: 30px;
	font-family: "Montserrat";
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
}

.tags a{
	display: inline-block;
	padding: 10px 15px;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #ccc;
	margin-right: 3px;
	margin-bottom: 5px;
}

.tags a:hover {
	text-decoration: none;
	color: #fff;
	background-color: #A8A8A8;
}

/*--------------------------------*/
/*--------------------------------*/

/*----------MODAL------------------*/

.modal-body img {
	margin-bottom: 30px;
	width: 100%;
}

@media (min-width: 768px) {
	.modal-dialog {
	    width: 1000px;
	    margin: 30px auto;
	}
}

.modal-header h4 {
	display: inline-block;
	font-family: "Montserrat";
	font-size: 18px;
	line-height: 48px;
	text-transform: uppercase;
	font-weight: bold;
}

.modal-body .news_descr {
	margin-bottom: 30px;
	font-size: 14px;
	line-height: 24px;
	color: #5E5E5E;
}

.modal-body .date_news {
	padding: 10px 15px;
	margin: 30px 20px 20px 0;
	font-family: "Montserrat";
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #7beec7;
	color: #fff;
}

.modal-body .comments {
	margin-right: 20px;
	font-family: "Montserrat";
	font-size: 14px;
	text-transform: uppercase;
	color: #ccc;
}

.modal-body .comments i {
	margin-right: 8px;
	font-size: 18px;
}

.modal-body .like {
	margin-right: 20px;
	font-family: "Montserrat";
	font-size: 14px;
	text-transform: uppercase;
	color: #ccc;
}

.modal-body .like i {
	margin-right: 8px;
	font-size: 18px;
	color: #ea6a6a;
}



/*------------------------------*/
/*------------------------------*/

.contact_f input {
	width: 100%;
	margin-bottom: 30px;
	padding: 20px;
	background-color: #fefcf9;
	border: 1px solid #F7EAD8;
}

.contact_f input[name="name"] {
	margin-right: 3%;
}

.contact_f input[name="name"],
.contact_f input[name="email"] {
	width: 48%;
}

.contact_f input[placeholder] {
	color: #60606e;
	font-family: "Montserrat";
	font-size: 14px;
	font-weight: bold;
}

textarea {
	padding: 20px;
	margin-bottom: 30px;
	color: #60606e;
	font-family: "Montserrat";
	font-size: 14px;
	font-weight: bold;
	width: 100%; 
	height: 200px; 
	resize: none;
	background-color: #fefcf9;
	border: 1px solid #F7EAD8;
} 


input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
   color: #afafb4;
	font-family: "Montserrat";
	font-size: 14px;
	font-weight: bold;
} 
input::-moz-placeholder,
textarea::-webkit-input-placeholder {
 	color: #afafb4;
	font-family: "Montserrat";
	font-size: 14px;
	font-weight: bold;
}

.send_btn {
	width: 165px;
	height: 50px;
	margin-bottom: 100px;
	color: #fff;
	font-family: "Montserrat";
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #7beec7;
	border: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
	-webkit-transition: -webkit-box-shadow ease-out 0.5s;
	transition: -webkit-box-shadow ease-out 0.5s;
	-o-transition: box-shadow ease-out 0.5s;
	transition: box-shadow ease-out 0.5s;
	transition: box-shadow ease-out 0.5s, -webkit-box-shadow ease-out 0.5s;
}

.send_btn:hover {
	-webkit-box-shadow: 0px 0px 10px 0px #A3A3A3;
	        box-shadow: 0px 0px 10px 0px #A3A3A3;
}

.contact_info h3 {
	margin-bottom: 30px;
	color: #60606e;
	font-family: "Montserrat";
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}

.comt_descr {
	margin-bottom: 35px;
}

.contact_info p {
	color: #999999;
	line-height: 30px;
	font-size: 14px;
}

.contact_info a {
	color: #999999;
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
}

.contact_info > .fo_social {
	margin-left: -40px;
	margin-bottom: 150px;
}

.map iframe {
	margin-bottom: 100px;
}





	
