html { overflow:  hidden; }

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

#controls {
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: 100px;
	height: 100px;
}

#controls button {
	position: absolute;
	text-transform: uppercase;
	font-size: 1.8em;
	border: none;
	border-radius: 100px;
	margin: 0.5em;
	font-weight: bold;
}

button#top {
	width: 70px;
	height: 35px;
	clip-path: polygon(100% 0, 0 0, 50% 100%);
	top: -5px;
	left: 0;
}

button#right {
	width: 35px;
	height: 70px;
	clip-path: polygon(100% 0, 100% 100%, 0 50%);
	right: -5px;
	top: 0;
}

button#bot {
	width: 70px;
	height: 35px;
	clip-path: polygon(0 100%, 100% 100%, 50% 0);
	left: 0;
	bottom: -5px;
}

button#left {
	width: 35px;
	height: 70px;
	clip-path: polygon(0 100%, 0 0, 100% 50%);
	left: -5px;
	top: 0;
}

