html { overflow:  hidden; }

body {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

canvas {
	margin: 0;
	padding: 0;
}

#menu,
#pause{
	cursor: pointer;
	z-index: 999999;
}

#menu {
	position: absolute;
	top: 5px;
	right: 5px;
}

#pause {
	position: absolute;
	bottom: 5px;
	right: 5px;
}

button {
	text-transform: uppercase;
	font-size: 1.2em;
	border: none;
	border-radius: 0.3em;
	margin: 0.5em;
	font-weight: bold;
}

#menuPanel {
	visibility: hidden;
	position: absolute;
	top: 0;
	right: 0;
	width: 80vw;
	height: 70vh;
	background: rgba(0, 0, 0, .5);
}

#content {
	width: 70%;
	padding: 2%;
	float: left;
	color: aliceblue;
	font-size: 1.1em;
}

#navigation {
	width: 235px;
	float: left;
	margin-top: 10%;
}

#best10 {
	font-size: 1.5em;
	margin-left: 5%;
	margin-top: 10%;
}